<h1 style="border-bottom: 1px solid #ccc">Hourly Weather Forecast</h1>


<div id="forecast">
	<div id="weather-right-now">
		<div class="right-now-label">Right Now</div>
		
		<div class="hourly-icon-area">
			<img class="right-now-icon" src="" />
			<div class="right-now-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="right-now-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="right-now-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="right-now-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="right-now-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
	<div class="hourly-chunk">
		<div class="hourly-time"></div>
		
		<div class="hourly-icon-area">
			<img class="hourly-icon" src="" />
			<div class="hourly-description">
				<span class="hourly-data"></span>
			</div>
		</div>
		
		<div class="hourly-temp">
			<span class="hourly-data"></span>
		</div>
		
		<div class="hourly-feels-temp">
			<span class="small-header">Feels Like:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-humidity">
			<span class="small-header">Humidity:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
		
		<div class="hourly-wind">
			<span class="small-header">Wind Speed:</span>
			<span class="hourly-data hourly-data-small"></span>
		</div>
	</div>
	
</div>
		
		
		
		
			
				
			