// Place all the styles related to the weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#weather-small {
	display: inline-block;
	padding: 6px 5px 4px 5px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

div#temp-small {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	font-family: Helvetica;
}

div#weather-icon-small {
	display: inline-block;
}

img#weather-icon-img-small {
	height: 40px;
}

/************* Hourly Weather CSS *************/

span.hourly-data {
	width: 25px;
	display: block;
	font-family: Helvetica, sans-serif;
	width: 100%;
}

div#weather-right-now {
	padding: 15px 0px 15px 0px; 
	border-bottom: 1px solid #ccc;
}

div#weather-right-now .right-now-label {
	width: 80px; 
	vertical-align: top; 
	display: inline-block; 
	font-size: 18px; 
	font-family: Helvetica, sans-serif; 
	font-weight: bold;
}

div#weather-right-now .right-now-temp {
	width: 70px; 
	margin-left: 10px; 
	vertical-align: top; 
	display: inline-block; 
	font-size: 36px; 
	font-family: Helvetica, sans-serif; 
	font-weight: bold;
}

div#weather-right-now .right-now-temp span {
	margin-top: 20px;
}

div#weather-right-now .right-now-feels-temp {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

div#weather-right-now .right-now-humidity {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

div#weather-right-now .right-now-wind {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

div.hourly-icon-area {
	display: inline-block; 
	width: 100px; 
	text-align: center;
}

div.hourly-icon-area hourly-icon {
	height: 60px;
}

.hourly-data-small {
	margin: 5px 0px 0px 5px; 
	font-weight: bold; 
	font-size: 14px;
	width: 100%;
}

.small-header {
	margin-top: 10px; 
	vertical-align: top; 
	display: inline-block; 
	height: 10px; 
	font-size: 14px; 
	font-family: Helvetica, sans-serif; 
	color: #999;
}

div.hourly-chunk {
	padding: 15px 0px 15px 0px; 
	border-bottom: 1px solid #ccc;
}

div.hourly-chunk .hourly-time {
	width: 80px; 
	vertical-align: top; 
	display: inline-block; 
	font-size: 18px; 
	font-family: Helvetica, sans-serif; 
	font-weight: bold;
}

div.hourly-chunk .hourly-temp {
	width: 70px; 
	margin-left: 10px; 
	vertical-align: top; 
	display: inline-block; 
	font-size: 36px; 
	font-family: Helvetica, sans-serif; 
	font-weight: bold;
}

div.hourly-chunk .hourly-feels-temp {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

div.hourly-chunk .hourly-humidity {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

div.hourly-chunk .hourly-wind {
	display: inline-block; 
	padding: 0px 10px 0px 10px; 
	vertical-align: top;
}

/************* End Hourly Weather CSS *************/

